# Railway (API) - copiar en Settings â†’ Variables
JWT_SECRET=dHJ3kiJi2nBhaUDBwd8dc9DWJ1XJG/nLhkoLog+3iOhgaJOZJSAJKStB+DIvQSWW
NEXTAUTH_SECRET=njKQdqvt8EIuHP56CdSFIfNo5x2lH87yESQQ2vUWLV6hrwUl8Y7l6MBobD6UkxMf
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=production
PORT=3000
