# Vercel (admin-web) - copiar en Settings â†’ Environment Variables
NEXT_PUBLIC_API_URL=https://api.vecinosimple.com
NEXTAUTH_URL=https://admin.vecinosimple.com
NEXTAUTH_SECRET=njKQdqvt8EIuHP56CdSFIfNo5x2lH87yESQQ2vUWLV6hrwUl8Y7l6MBobD6UkxMf
